# Arquivos temporários
.vscode/
.DS_Store

# Dependências e módulos Node.js (se estiver usando)
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de compilação ou artefatos de build
/dist/
/build/
/out/
/.next/
/.nuxt/
/.webpack/

# Ambientes locais ou arquivos de configuração específicos
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# Logs e arquivos de saída
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pnp.*

# Arquivos de mídia e uploads (caso não seja controlado por um serviço externo)
public/uploads/

# Arquivos de IDE ou editor
.idea/
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Arquivos de backup
*.bak
*.backup

# Cache e arquivos temporários
.cached/
.cargo/
.bazel/
.buckd/
.buckconfig.local
.build/
.buildcache/
.cargo/
.chefdk/
.chef/
.cordova/
.coverage/
.dart_tool/
.externalToolBuilders/
.gradle/
.grunt/
.gulp/
.jekyll-cache/
.libs/
.local/
.node-repl-history/
.npm/
.npmignore/
.openapi-generator/
.pnp/
.pnpm/
.provisioning/
.python/
.rustup/
.sass-cache/
.sdk/
.serverless/
.snapcraft/
.snap/
.tox/
.vagrant/
.vs/
.vscode/
.webpack/
.yarn/

# Outros
node_modules
yarn-error.log

# Fim
