@font-face {
    font-family: 'personal1';
    src: url(/assets/fontes/Black\ Mustang.ttf) format('truetype');
}

:root {
    --main: #5e0202;
    --green: #027353;
    --blue: #085A8C;
    --yellow: #EDA624;

    --neutro-0: #000;
    --neutro-1: #fff;
    --neutro-2: #090707;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Estilos da barra de rolagem para navegadores baseados em WebKit */


.logo {
    width: 20px;
    height: 20px;
}

.hover-p:hover {
    cursor: pointer;
}

li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

li:hover {
    color: rgb(128, 1, 1);
}

.pointer {
    cursor: pointer;
}

.btn-d {
    width: 100px;
    height: 50px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    color: var(--neutro-0);
    font-size: 16px;
    font-weight: 500;
    box-shadow: 5px 5px 0px var(--neutro-0);
    transition: all 0.3s ease;
}

.btn-d:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px var(--neutro-0);
    font-weight: 700;
}

.nav-page-two {
    position: absolute;
    top: 5%;
    width: 50%;
    min-width: 250px;
}

.content {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.content.loaded {
    opacity: 1;
}

@media (max-width: 801px) {
    .nav-page-two {
        bottom: 5%;
        top: auto;
    }
}



