* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

:root {
    --main: #a01d1d;
    --background: #fbfbfb;
    --contrast: #10380d;
    --black: #000;
    --white: #fff;
}

/* TAGS PADRÕES */
/* main, body, header... */

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    color: black;
    font-weight: 400;   
}

a:hover{
    text-decoration: none;
    font-weight: 500;
    color: var(--contrast);
}

/* GERAIS */
/* Classes de multiplos usos */


.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-center{
    display: grid;
    place-items: center;
    overflow-y: hidden;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;

    &:hover {
        color: var(--contrast) !important;
        font-weight: 500;
    }
}

.btn-no-format:focus {
    outLine: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.btn-no-format:active {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
}


/* Classes específicas */
.heigth-y-small {
    height: 35%;
}

.heigth-y-half {
    height: 55%;
}

.heigth-y-big{
    height: 90%;
}

.heigth-y-max{
    height: 100%;
}

.logo {
    width: 3%;
    min-width: 20px;
}



.navbar-custom {
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.navbar-brand-custom {
    width: 200px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    width: 30%;
}

.img-size-small{
    width: 30%;
    min-width: 125px;
}
.img-size-half {
    width: 50%;
    min-width: 250px;
}
.img-size-big {
    width: 70%;
    min-width: 250px;
}

.img-top-margin-100 {
    margin-top: 15%;
    margin-bottom: 2%;
}

/* CARDS REPOSITÓRIOS */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}

.card-img {
    width: 90%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    z-index: 2000;
    position: absolute;
    color: wheat;
    bottom: 5%;
    left: 35%;
}

 /* Esconde a grid de cards em telas pequenas */
 @media (max-width: 768px) {
    .card-grid {
        display: none;
    }
}

/* Mostra o carrossel em telas pequenas */
@media (min-width: 769px) {
    .carousel {
        display: none;
    }
}


/* ID - Identidade */